# Load data

In [1]:
import pandas as pd

df = pd.read_csv("/home/harshit/Desktop/PythonDA/Day6/healthcare-dataset-stroke-data.csv")

df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### Exploration of data

In [2]:
# Check missing value count


df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [3]:
# Check data type of each column and identify categorical v/s numerical data columns

print(df.info())


print("#####Number of unique values in each column")
for col in df.columns:
    print(f"{col} ----> {df[col].nunique()}  ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None
#####Number of unique values in each column
id ----> 5110
gender ----> 3
age ----> 104
hypertension ----> 2
heart_disease ----> 2
ever_married ----> 2
work_type ----> 5
Residence_type ----> 2
avg_glucose_level ----> 3979
bmi ----> 418
smoking_status ----> 4
stroke ----> 2

# Clean Data

In [4]:
# rename columns

df.columns = [     col.title() for col in df.columns         ]


df

,Id,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,Bmi,Smoking_Status,Stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
# drop irrelevant column

df.drop(columns=['Bmi','Id'], inplace=True)

df

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,Smoking_Status,Stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,1
...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,Unknown,0

# Check if dataset is biased to any specific label class

In [7]:
df['Stroke'].value_counts(normalize=True)

0    0.951272
1    0.048728
Name: Stroke, dtype: float64

# Split features & labels

In [11]:
X_org = df[["Age", "Avg_Glucose_Level"]].copy()

y_org = df[['Stroke']].copy()


from imblearn.over_sampling import SMOTE

sm=SMOTE(random_state=42)


X,y = sm.fit_resample(X_org,y_org)


from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split( X, y,random_state=10, stratify=y )

# The new label distribution is now 50-50

In [19]:
y['Stroke'].value_counts()

1    4861
0    4861
Name: Stroke, dtype: int64

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [13]:
model.fit(X_train,y_train)

/home/harshit/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

# Test the model

In [14]:
ans = model.predict(X_test)

predicted_df = pd.DataFrame(ans, columns=['Prediction'])

predicted_df

      Prediction
0              0
1              0
2              0
3              0
4              1
...          ...
2426           0
2427           1
2428           1
2429           0
2430           1

[2431 rows x 1 columns]

In [15]:
test_features_df = X_test.reset_index(drop=True)

actual_test_labels = y_test.reset_index(drop=True)

pd.concat([test_features_df,actual_test_labels, predicted_df],axis=1)

            Age  Avg_Glucose_Level  Stroke  Prediction
0     44.000000          97.270000       0           0
1     34.000000          87.210000       0           0
2     28.000000          56.470000       0           0
3     48.000000          83.014124       1           0
4     59.758162          92.945394       1           1
...         ...                ...     ...         ...
2426  49.000000          60.220000       0           0
2427  74.253688          99.300916       1           1
2428  60.000000          80.860000       0           1
2429  50.000000          67.020000       0           0
2430  59.787020         211.164157       1           1

[2431 rows x 4 columns]

# Metrics

In [16]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,accuracy_score,confusion_matrix

print(precision_score(  y_test, predicted_df))

print(recall_score(  y_test, predicted_df))

print(accuracy_score(y_test,predicted_df))


print(confusion_matrix(y_test,predicted_df))

0.743993993993994
0.8149671052631579
0.7671740024681201
[[874 341]
 [225 991]]

# 4, 6 steps are repeated

In [17]:
#split the original data
X_train, X_test, y_train, y_test = train_test_split(X_org, y_org, test_size=0.2, stratify=y_org, random_state=42)


#test model on orignal values
y_predicted = model.predict(X_test)


print(precision_score(  y_test, y_predicted))

print(recall_score(  y_test, y_predicted))

print(accuracy_score(y_test,y_predicted))


print(confusion_matrix(y_test,y_predicted))

0.13636363636363635
0.78
0.7475538160469667
[[725 247]
 [ 11  39]]

# Since my data was biased,


#### Oversampling minority class ---->increase in the dataset! (model gets trained)


##### Testing the model----------->(original)