# Load data

In [29]:
import pandas as pd

df = pd.read_csv("/home/harshit/Desktop/PythonDA/Day6/healthcare-dataset-stroke-data.csv")

df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### Exploration of data

In [30]:
# Check missing value count


df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [31]:
# Check data type of each column and identify categorical v/s numerical data columns

print(df.info())


print("#####Number of unique values in each column")
for col in df.columns:
    print(f"{col} ----> {df[col].nunique()}  ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None
#####Number of unique values in each column
id ----> 5110
gender ----> 3
age ----> 104
hypertension ----> 2
heart_disease ----> 2
ever_married ----> 2
work_type ----> 5
Residence_type ----> 2
avg_glucose_level ----> 3979
bmi ----> 418
smoking_status ----> 4
stroke ----> 2

# Clean Data

In [32]:
# rename columns

df.columns = [     col.title() for col in df.columns         ]


df

,Id,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,Bmi,Smoking_Status,Stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [33]:
# drop irrelevant column

df.drop(columns=['Bmi','Id'], inplace=True)

df

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,Smoking_Status,Stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,1
...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,Unknown,0

## Separate categorical & numerical feature

In [34]:
categorical_features = ['Gender', 'Hypertension', 'Heart_Disease','Ever_Married','Work_Type','Residence_Type','Smoking_Status']

numerical_features=['Age','Avg_Glucose_Level']

# Check if dataset is biased to any specific label class

In [35]:
df['Stroke'].value_counts(normalize=True)

0    0.951272
1    0.048728
Name: Stroke, dtype: float64

# Encode categorical features

In [36]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() 

for col in categorical_features:
    df[col]   =  le.fit_transform(  df[col]  )


df

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,Smoking_Status,Stroke
0,1,67.0,0,1,1,2,1,228.69,1,1
1,0,61.0,0,0,1,3,0,202.21,2,1
2,1,80.0,0,1,1,2,0,105.92,2,1
3,0,49.0,0,0,1,2,1,171.23,3,1
4,0,79.0,1,0,1,3,0,174.12,2,1
...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,2,1,83.75,2,0
5106,0,81.0,0,0,1,3,1,125.20,2,0
5107,0,35.0,0,0,1,3,0,82.99,2,0
5108,1,51.0,0,0,1,2,0,166.29,1,0
5109,0,44.0,0,0,1,0,1,85.28,0,0

# Split features & labels

In [37]:
X = df[numerical_features].copy()

y=df[['Stroke']].copy()

from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split( X, y,random_state=10, stratify=y )

In [38]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [39]:
model.fit(X_train,y_train)

/home/harshit/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

# Test the model

In [40]:
ans = model.predict(X_test)

predicted_df = pd.DataFrame(ans, columns=['Prediction'])

predicted_df

      Prediction
0              0
1              0
2              0
3              0
4              0
...          ...
1273           0
1274           0
1275           0
1276           0
1277           0

[1278 rows x 1 columns]

In [41]:
test_features_df = X_test.reset_index(drop=True)

actual_test_labels = y_test.reset_index(drop=True)

pd.concat([test_features_df,actual_test_labels, predicted_df],axis=1)

       Age  Avg_Glucose_Level  Stroke  Prediction
0      8.0              92.65       0           0
1     65.0              66.69       0           0
2     59.0              93.58       0           0
3     53.0             101.81       0           0
4     40.0             212.97       0           0
...    ...                ...     ...         ...
1273  63.0             104.79       0           0
1274  43.0              80.07       0           0
1275   8.0             102.50       0           0
1276  49.0             102.91       0           0
1277  56.0             222.60       0           0

[1278 rows x 4 columns]

# Metrics

In [42]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,accuracy_score,confusion_matrix

print(precision_score(  y_test, predicted_df))

print(recall_score(  y_test, predicted_df))

print(accuracy_score(y_test,predicted_df))


print(confusion_matrix(y_test,predicted_df))

0.0
0.0
0.9514866979655712
[[1216    0]
 [  62    0]]

/home/harshit/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))