# Load data

In [4]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/techficent/Python-DA-ML/master/Day6/healthcare-dataset-stroke-data.csv")

df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### Exploration of data

In [5]:
# Check missing value count


df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [6]:
# Check data type of each column and identify categorical v/s numerical data columns

print(df.info())


print("#####Number of unique values in each column")
for col in df.columns:
    print(f"{col} ----> {df[col].nunique()}  ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None
#####Number of unique values in each column
id ----> 5110
gender ----> 3
age ----> 104
hypertension ----> 2
heart_disease ----> 2
ever_married ----> 2
work_type ----> 5
Residence_type ----> 2
avg_glucose_level ----> 3979
bmi ----> 418
smoking_status ----> 4
stroke ----> 2

# Clean Data

In [7]:
# rename columns

df.columns = [     col.title() for col in df.columns         ]


df

,Id,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Level,Bmi,Smoking_Status,Stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

# Check if dataset is biased to any specific label class

In [8]:
df['Stroke'].value_counts(normalize=True)

0    0.951272
1    0.048728
Name: Stroke, dtype: float64

# Split features & labels

In [9]:
X = df[['Avg_Glucose_Level', 'Age']].copy()

y=df[['Stroke']].copy()

from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split( X, y,random_state=10, stratify=y, test_size=0.2 )

# If you are solving classification problem, keep stratify option enabled!

# Select the algorithm

In [10]:
from sklearn.svm import SVC


#support vector classifier
model = SVC()

## Fit the model on the data!

In [11]:
model.fit(X_train,y_train) # training the model!

/home/harshit/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

# Supervised learning


### 1) Load the data

### 2) Exploring & cleaning the data (pre-processing)


### 3) Features & label are decided and separate

### 4) Split the data into training & testing set


### 5) train the model

### 6) Test your model

# Test the model

In [12]:
ans = model.predict(X_test)

predicted_df = pd.DataFrame(ans, columns=['Prediction'])

predicted_df

      Prediction
0              0
1              0
2              0
3              0
4              0
...          ...
1017           0
1018           0
1019           0
1020           0
1021           0

[1022 rows x 1 columns]

# Scaling is required for regression techniques only!

In [13]:
test_features_df = X_test.reset_index(drop=True)

actual_test_labels = y_test.reset_index(drop=True)

pd.concat([test_features_df,actual_test_labels, predicted_df],axis=1)

      Avg_Glucose_Level    Age  Stroke  Prediction
0                 58.39  19.00       0           0
1                123.49  81.00       0           0
2                111.41  54.00       0           0
3                 67.02  50.00       0           0
4                128.63  50.00       0           0
...                 ...    ...     ...         ...
1017             102.21  62.00       0           0
1018             130.07  26.00       0           0
1019             208.17  21.00       0           0
1020              57.15  63.00       0           0
1021              65.01   1.16       0           0

[1022 rows x 4 columns]

## performance of a classification model???


Model says----> 0


Actual answer is -----> 1

In [15]:
from sklearn.metrics import accuracy_score


accuracy_score(y_test, predicted_df)

0.9510763209393346

In [ ]:
Trial 


Correct Answer            Model

0                            0               ------> TN (true negative)

0                            1              ----->   FP (false positives)

 
1                            0              -------> FN

1                            1                ------> TP

# Metrics

In [14]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,accuracy_score,confusion_matrix

print(precision_score(  y_test, predicted_df))

print(recall_score(  y_test, predicted_df))

print(accuracy_score(y_test,predicted_df))


print(confusion_matrix(y_test,predicted_df))

0.0
0.0
0.9510763209393346
[[972   0]
 [ 50   0]]

/home/harshit/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [21]:
print(confusion_matrix(y_test,predicted_df, labels=[1, 0]))

# TP                FP

# FN                TN

[[  0  50]
 [  0 972]]

In [ ]:
Classification problem


##### (95 : 5)
##### Data was biased (label classes were not equally distributed)

#### stratifed sampling


model does a good job for the majority class (stroke NO (0))

a terrible job for the minority (stroke yes (1))