In [2]:
print( "Hello,World!"   )
print("Harshit")

Hello,World!
Harshit

In [3]:
print("Next part")

Next part

# dynamically typed

In [7]:
n1 = 10

n2 = -99

n3 = -1986

n4 = -100

print(  n1, n2, n3, n4 )


print(   type(n1)    )

10 -99 -1986 -100
<class 'int'>

In [8]:
n1 = "Harshit"

name = 'python'

print(n1)

print(   type(n1)    )

Harshit
<class 'str'>

In [9]:
f1 = 10.213

print(f1)

print(   type(f1)    )

10.213
<class 'float'>

In [12]:
#collections

#list [mutable--->you can change values inside a list]
l1 = [    10,  21,  31,  41, "Harshit", 20.21       ]

#tuple (immutable ---->cannot modify values, ONLY complete rewrite)

t1 = (    10,  21,  31,  41, "Harshit", 20.21       )

#dictionary        
d1 = { "Name" : "Harshit",   "Age" :  28,  "Salary" : 40000.00 }


print(  l1  )

print(  t1   )

print (d1)

[10, 21, 31, 41, 'Harshit', 20.21]
(10, 21, 31, 41, 'Harshit', 20.21)
{'Name': 'Harshit', 'Age': 28, 'Salary': 40000.0}

In [20]:
#Arithmetic operations

n1 = 4

n2 = 3

print ( f"The output of {n1} plus {n2} is {n1 + n2}" )
print ( f"The output of {n1} minus {n2} is {n1 - n2}" )
print ( f"The output of {n1} multiplied by {n2} is {n1 * n2}" )
print ( f"The output of {n1} divided by {n2} is {n1 / n2}" )

#floor division (quotient of division operation)
print ( f"The quotient of {n1} divided by {n2} is {n1 // n2}" )

#remainder of division operation
print ( f"The remainder of {n1} divided by {n2} is {n1 % n2}" )

#exponent operation (power, raised to)
print(f"{n1} raised to {n2} gives {n1 ** n2}")



print ( f"The output of {n1} divided by {n2} is {n1 // n2}" )

'The output of 4 divided by 3 is 1'

In [22]:
#This is a message/comment

#IF-ELIF-ELSE

#age is an integer input
age = int( input("Enter your age please: ") )


if age < 0 :
    print("Invalid age")
    print("IF BLOCK")

elif age >=0 and age < 18:
    print("You cannot vote yet!")
    print("ELIF BLOCK")

else:
    print("you can vote now!")

you can vote now!

In [23]:
n1 = 10
n2 = 5


if n1 > n2:

    if n1 % 2 == 0:
        print("Nested if")
    else:
        print("nested else")


else:

    if n2 % 2 == 0:
        print("Nested if from else")
    else:
        print("Else inside else")

Nested if

In [24]:
# <if block>   if condition     else    <else-block>


print("IF PART")  if 10 > 5    else     print("ELSE PART")

IF PART

In [25]:
#loops in python

#for(  intialization ;   criteria for stopping;     increment/decrement       )

#for (int counter=0;   counter < 10; counter = counter +1)

for counter in range(0,  10,  1  ):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [28]:
#for (int counter=5; counter > 0; counter = counter -1)
for counter in range (5 , 0, -1):
    print(counter)

5
4
3
2
1

In [30]:
# + 1 is default for stepping
for counter in range (0 , 11):
    print(counter)

0
1
2
3
4
5
6
7
8
9
10

In [31]:
# 0 becomes the default starting value
# + 1 remains your default stepping value

for counter in range (11):
    print(counter)

0
1
2
3
4
5
6
7
8
9
10

In [32]:
for counter in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [33]:
l1 = [ 10,20,30,40,50  ]

#for each element in l1, print the element
for element in l1:
    print(element)

10
20
30
40
50

In [34]:
for index in range(0,3):
    print(  l1[index]  )

10
20
30

In [ ]:
# add all numbers in the list & print the result?
l1 = [ 10,20,30,40,50  ]

In [35]:
# while loop!


#for each : a collection of values

# print(hello) repeatedly till the time user says STOP

#no fixed number of iterations!!!!!

msg = ""
while msg != "STOP":

    print("Hello")
    msg = input("STOP to stop")

Hello
Hello
Hello
Hello

In [37]:
msg = ""

#int counter=10, counter >11; counter --
for counter in range(1,11,1):
    if (msg == "STOP"):
        break

    else:
        print("hello")
        msg=input("STOP to stop")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
#any while loop based program can be written with a for loop & break combination

# String values

In [ ]:

#substring (slicing)
#replacement
#comparision of string(equality check)
#length
#reverse of the string
#trimming
#capitalization, upper or lowercase
#fetching character from a index (indexing)


#string API in python ----> a set of functionalities applicable only for a string

In [40]:
data = "Python is a programming values"

#upper case

print(  data.upper()  )

#lower case
print(  data.lower()  )

#capitalize

print(   data.title()  )

PYTHON IS A PROGRAMMING VALUES
python is a programming values
Python Is A Programming Values

In [41]:
print(  data[  0 : 4 : 1  ]  )

Pyth

In [48]:
print( data.split(" ")  )

['Python', 'is', 'a', 'programming', 'values']

In [49]:
data = "Python is a programming values"

print(data[0:10])

Python is

#Objective : Extract first 3 words of each string item in data. Join them with a space

In [60]:
data = [ "Python is a programming values", "Harshit is a programmer" ]

for line in data:
    ans = line.split(" ") #list created! ["Python", "is", "a", "programming", "values"]
    
    words = ans[0:3:1] #["Python", "is", "a"]

    print( " ".join(words) ) #"Python is a"

Python is a
Harshit is a

In [61]:
example = "This is an example"

print(example[0:3:1])

print(example[0:3:2])

Thi
Ti

In [57]:
data = [ "10","20","Harshit"]

#join is applicable only on str data!

#1 joined string with --- e.g :    10---20---Harshit

print( "---".join(data) )

10---20---Harshit

In [ ]:
#Basics of Python

#Print function & using f-string

#Arithmetic operations

#if-elif-else block

#Loops - for loop, for-each loop and while loop

# String API - methods that can be applied on string data

# upper,lower,title,split,join

# Actions :  slicing[0:3:1], indexing data[0]

In [65]:
data = "Python is a programming values"

ans = data.replace(  "values", "language"  )

print(data,  id(data)  )

print(ans, id(ans) )

Python is a programming values 140580777070224
Python is a programming language 140581327479952

In [66]:
data = "Python is a programming values"

print("Before: ", data,  id(data)  )


data = data.replace(  "values", "language"  )

print("After: ",data,  id(data)  )

Before:  Python is a programming values 140580777075984
After:  Python is a programming language 140580776981968

In [67]:
#                               0x100h
#  n1 ------------->           "Harshit"


n1 = 10


print (n1)


del n1

print(n1)

10

NameError: name 'n1' is not defined

In [70]:
numbers = [10,20,30,40]

data = [10,20,"Harshit", 10.21,"Python"]

#append : add data at the end of the list



#append 50 to numbers list and then print the result of append operation
numbers.append(50)

data.append("example")

print(numbers)
print(data)

[10, 20, 30, 40, 50]
[10, 20, 'Harshit', 10.21, 'Python', 'example']

In [71]:
numbers.insert(3,300) #insert 300 at position 3 of numbers list

print(numbers)

[10, 20, 30, 300, 40, 50]

In [72]:
print (numbers.pop(3))

300

In [73]:
ans = numbers.pop(0)

print(ans)

print(numbers)

10
[20, 30, 40, 50]

In [74]:
numbers.sort()

print(numbers) #actual answer after sorting


data.sort()

print(data)

[20, 30, 40, 50]

TypeError: '<' not supported between instances of 'str' and 'int'

In [75]:
names = ["Ajay", "Rahul", "Manoj", "Sriram", "Rutuja"]

names.sort()

print(names)

['Ajay', 'Manoj', 'Rahul', 'Rutuja', 'Sriram']

In [79]:
print(data)

strData=[]
numericData=[]

for item in data:

    if(  isinstance(item,int) or isinstance(item,float)  ):
        numericData.append(item)

    if(isinstance(item,str)):
        strData.append(item)


data.clear()


data.extend(numericData)
data.extend(strData)

print(data)

[10, 20, 10.21, 'Harshit', 'Python', 'example']
[10, 20, 10.21, 'Harshit', 'Python', 'example']

In [81]:
data = ["IN1100" , "IN1011" , "IN1077"]

data.sort()

print(data)

['IN1011', 'IN1077', 'IN1100']

In [85]:
#sequential objects

#slices or indexing

# 0            1              2           3              4          5           6
# H            a              r           s              h          i           t
# -7           6-            -5          -4              -3         -2           -1



name="Harshit"


print(name[-1:2:-1]) #slicing

ti

In [ ]:
print( name[- 1]  )

In [83]:

#    0           1          2
# ["IN1100" , "IN1011" , "IN1077"]


data = ["IN1100" , "IN1011" , "IN1077"]
print(data[0])

print(data[0:2:1])

IN1100
['IN1100', 'IN1011']

In [89]:
#dictionary

#has 3 items (3 data values)
emp1 ={  "name" : "Harshit", "age" : 28, "location" : "Mumbai"  }

print( emp1.get("age") )
print(emp1.get("location"))

print(emp1.get("gender")) #missing label : get "None"

print(emp1['age'])

print(emp1['gender']) #missing label : [] throws error!

28
Mumbai
None
28

KeyError: 'gender'

In [92]:
print(emp1.get("gender", "Value not found")) 
print(emp1.get("age", "Value not found")) 

print(emp1.get("gender"))

Value not found
28
None

In [93]:
for label in ["name", "age"]:
    print(emp1.get(label))

Harshit
28

In [95]:

labels = input("Enter labels separated by space: ").split(" ")

for label in labels:
    print(  emp1.get(label)  ,   end="     ")

Harshit     Mumbai     28

In [ ]:
#updating a dictionary can be in 2 ways
    #1) adding new items to it
    #2) by modifying data asociated with an existing label

In [96]:
emp1 ={  "name" : "Harshit", "age" : 28, "location" : "Mumbai"  }

emp1.update(   {"designation" : "Trainer"}   )

print(emp1)

{'name': 'Harshit', 'age': 28, 'location': 'Mumbai', 'designation': 'Trainer'}

In [97]:
emp1 ={  "name" : "Harshit", "age" : 28, "location" : "Mumbai"  }

emp1.update(   {"age" : 30}   )

print(emp1)

{'name': 'Harshit', 'age': 30, 'location': 'Mumbai'}

In [98]:
#pop
emp1 ={  "name" : "Harshit", "age" : 28, "location" : "Mumbai"  }


ans = emp1.pop("age")

print(ans)

print(emp1)

28
{'name': 'Harshit', 'location': 'Mumbai'}

# functions!!!

In [102]:
# A function is a body of code : a set of instructions
def addition():
    n1 = int(input("Enter a number: "))
    n2 = int (input("Enter second number: "))
    print( n1 + n2)

print("Something")

Something

In [101]:
print("Harshit".upper())


addition()

HARSHIT
300

In [103]:
def addition2Arg(n1, n2):
    print( n1 + n2)

In [104]:
addition2Arg(10,20)

30

# Default Arguments

In [105]:
def additionDefaultArg(n1=10, n2=20):
    print(n1 + n2)

In [108]:

#first 3 --->positional arguments
additionDefaultArg()        #10 + 20

additionDefaultArg(7)       #7  + 20

additionDefaultArg(5,15)    #5 + 15


#keyword argument
additionDefaultArg(n2=15)    #10 + 15

30
27
20
25

# Examples on return and no return functions

In [109]:
def percent90Ret(number):
    return number * 0.9


def percent90NoRet(number):
    print(number * 0.9)

In [110]:
print ( percent90Ret(100) )

90.0

In [111]:
percent90NoRet(90)

81.0

In [112]:
print(  percent90Ret(100) * 100 )

9000.0

In [113]:
print(  None * 100 )

90.0

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
create table : no expectation (write or a modify)

select * from : return expected! (read!!!!!!)

insert into  : no expectation (modify)

drop table  : no expectation (modify)

update table set when   : no expectation (modify)

In [116]:
# Warning!!!!!

def addition(n1, n2):
    print(int(n1) + int(n2))


addition(10, 20)

addition("Harshit", " Shukla")

addition([1,2,3], [4,5,6,10,20,30])

addition("Harshit", 10)

30

ValueError: invalid literal for int() with base 10: 'Harshit'

In [118]:
l1 = [x for x in range(1,1000001,1)]

#print first 100 elements
print(l1[ 0:100:1  ])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [119]:
#data analytics : pandas library!!

#test command for pandas
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/harshit/.local/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.21.0 in /home/harshit/.local/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/harshit/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [120]:
import pandas as pd

link = "https://raw.githubusercontent.com/techficent/Python-DA-ML/main/Car_Sales_Dataset.csv"

df = pd.read_csv(link)


df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [124]:
df[       ['Model', 'Manufacturer']       ].loc[  0:5 ]

     Model Manufacturer
0  Integra        Acura
1       TL        Acura
2       CL        Acura
3       RL        Acura
4       A4         Audi
5       A6         Audi