# Recap

#### Loading of data

###### Exploration of data :   EDA 
### :  describe(), isna().sum(), shape, index,nunique, unique, columns

## 1) Column names are not consistent and can use bit of renaming [SOLVED!]

## 2) We can tag Latest_Launch as time stamp! [SOLVED!]

## 3) Many missing values, so dealing with them is important before modeling

## 4) deal with outliers (wherever applicable)

## 5) Primary key CAN BE CHANGED!

In [19]:
import pandas as pd

link = "https://raw.githubusercontent.com/techficent/Python-DA-ML/main/Car_Sales_Dataset.csv"

# Mention datetime or timestamp columns in the parse_dates list
df = pd.read_csv(link, parse_dates=['Latest_Launch'])

df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    datetime64[ns]
 15  Power_perf_factor    155 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 19.8+ KB

# How to find out the column names, number of rows & columns

In [33]:
# column names



df.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', 'Year_resale_value',
       'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest_launch', 'Power_perf_factor'],
      dtype='object')

### Create a mapping of oldnames to new names in a dictionary
### Pass the mapping to columns argument of rename function
### inplace true will change the current dataframe

In [22]:
# Rename columns for title case!

mapping={     "__year_resale_value" : "Year_resale_value",

                 "Latest_Launch" : "Latest_launch"
                 
        }


df.rename(   columns = mapping, inplace=True)

df

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [23]:
# number of rows & columns

#rows,columns
df.shape

(157, 16)

In [24]:
# Number of missing values in the dataset

df.isna().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
Year_resale_value     36
Vehicle_type           0
Price_in_thousands     2
Engine_size            1
Horsepower             1
Wheelbase              1
Width                  1
Length                 1
Curb_weight            2
Fuel_capacity          1
Fuel_efficiency        3
Latest_launch          0
Power_perf_factor      2
dtype: int64

In [25]:
#index

#0,1,2,3.....

df.index

RangeIndex(start=0, stop=157, step=1)

In [26]:
# Number of unique values in a column

from numpy import row_stack


df.nunique()


#grouping & filtering

Manufacturer           30
Model                 156
Sales_in_thousands    157
Year_resale_value     117
Vehicle_type            2
Price_in_thousands    152
Engine_size            31
Horsepower             67
Wheelbase              88
Width                  78
Length                127
Curb_weight           147
Fuel_capacity          55
Fuel_efficiency        20
Latest_launch         130
Power_perf_factor     154
dtype: int64

In [27]:
df['Manufacturer'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mitsubishi', 'Mercury',
       'Mercedes-B', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac',
       'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [28]:
#descriptive statistics
##########mean,median,total,min & max, percentile


#real-value data
#categorical data

In [29]:
df.describe()

,Sales_in_thousands,Year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000,155.000000
mean,52.998076,18.072975,27.390755,3.060897,185.057692,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156,77.043591
std,68.029422,11.453384,14.351653,1.044653,58.490941,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.110000,5.160000,9.235000,1.000000,1.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000,60.407707
50%,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000,72.030917
75%,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000,89.414878
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

In [30]:
df.describe(include=['O'])

       Manufacturer Model Vehicle_type
count           157   157          157
unique           30   156            2
top           Dodge  Neon    Passenger
freq             11     2          116

In [31]:
!pip install plotly-express

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly-express in /home/harshit/.local/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: scipy>=0.18 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (1.8.0)
Requirement already satisfied: plotly>=4.1.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (5.7.0)
Requirement already satisfied: pandas>=0.20.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (1.4.2)
Requirement already satisfied: numpy>=1.11 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (1.22.3)
Requirement already satisfied: patsy>=0.5 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (0.13.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.20.0->plotly-express) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/harshit/.local/lib/python3.10/site-packages (from pandas>=0.20.0->plotly-express) (2.8.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5->plotly-express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly>=4.1.0->plotly-express) (8.0.1)
Requirement already satisfied: packaging>=21.3 in /home/harshit/.local/lib/python3.10/site-packages (from statsmodels>=0.9.0->plotly-express) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/lib/python3/dist-packages (from packaging>=21.3->statsmodels>=0.9.0->plotly-express) (2.4.7)

In [32]:
import plotly_express as pe

pe.box(y='Price_in_thousands', data_frame=df)