# Recap

#### Loading of data

###### Exploration of data :   EDA 
### :  describe(), isna().sum(), shape, index,nunique, unique, columns

## 1) Column names are not consistent and can use bit of renaming [SOLVED!]

## 2) We can tag Latest_Launch as time stamp! [SOLVED!]

## 3) Many missing values, so dealing with them is important before modeling

## 4) deal with outliers (wherever applicable)

## 5) Primary key CAN BE CHANGED!

In [19]:
import pandas as pd

link = "https://raw.githubusercontent.com/techficent/Python-DA-ML/main/Car_Sales_Dataset.csv"

# Mention datetime or timestamp columns in the parse_dates list
df = pd.read_csv(link, parse_dates=['Latest_Launch'])

df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    datetime64[ns]
 15  Power_perf_factor    155 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 19.8+ KB

# How to find out the column names, number of rows & columns

In [33]:
# column names



df.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', 'Year_resale_value',
       'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest_launch', 'Power_perf_factor'],
      dtype='object')

### Create a mapping of oldnames to new names in a dictionary
### Pass the mapping to columns argument of rename function
### inplace true will change the current dataframe

In [22]:
# Rename columns for title case!

mapping={     "__year_resale_value" : "Year_resale_value",

                 "Latest_Launch" : "Latest_launch"
                 
        }


df.rename(   columns = mapping, inplace=True)

df

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [23]:
# number of rows & columns

#rows,columns
df.shape

(157, 16)

In [24]:
# Number of missing values in the dataset

df.isna().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
Year_resale_value     36
Vehicle_type           0
Price_in_thousands     2
Engine_size            1
Horsepower             1
Wheelbase              1
Width                  1
Length                 1
Curb_weight            2
Fuel_capacity          1
Fuel_efficiency        3
Latest_launch          0
Power_perf_factor      2
dtype: int64

In [25]:
#index

#0,1,2,3.....

df.index

RangeIndex(start=0, stop=157, step=1)

In [26]:
# Number of unique values in a column

from numpy import row_stack


df.nunique()


#grouping & filtering

Manufacturer           30
Model                 156
Sales_in_thousands    157
Year_resale_value     117
Vehicle_type            2
Price_in_thousands    152
Engine_size            31
Horsepower             67
Wheelbase              88
Width                  78
Length                127
Curb_weight           147
Fuel_capacity          55
Fuel_efficiency        20
Latest_launch         130
Power_perf_factor     154
dtype: int64

In [27]:
df['Manufacturer'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mitsubishi', 'Mercury',
       'Mercedes-B', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac',
       'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [28]:
#descriptive statistics
##########mean,median,total,min & max, percentile


#real-value data
#categorical data

In [29]:
df.describe()

,Sales_in_thousands,Year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000,155.000000
mean,52.998076,18.072975,27.390755,3.060897,185.057692,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156,77.043591
std,68.029422,11.453384,14.351653,1.044653,58.490941,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.110000,5.160000,9.235000,1.000000,1.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000,60.407707
50%,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000,72.030917
75%,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000,89.414878
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

In [30]:
df.describe(include=['O'])

       Manufacturer Model Vehicle_type
count           157   157          157
unique           30   156            2
top           Dodge  Neon    Passenger
freq             11     2          116

In [31]:
!pip install plotly-express

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly-express in /home/harshit/.local/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: scipy>=0.18 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (1.8.0)
Requirement already satisfied: plotly>=4.1.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (5.7.0)
Requirement already satisfied: pandas>=0.20.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (1.4.2)
Requirement already satisfied: numpy>=1.11 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (1.22.3)
Requirement already satisfied: patsy>=0.5 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly-express) (0.13.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.20.0->plotly-express) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/harshit/.local/lib/python3.10/site-packages (from pandas>=0.20.0->plotly-express) (2.8.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5->plotly-express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/harshit/.local/lib/python3.10/site-packages (from plotly>=4.1.0->plotly-express) (8.0.1)
Requirement already satisfied: packaging>=21.3 in /home/harshit/.local/lib/python3.10/site-packages (from statsmodels>=0.9.0->plotly-express) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/lib/python3/dist-packages (from packaging>=21.3->statsmodels>=0.9.0->plotly-express) (2.4.7)

In [32]:
import plotly_express as pe

pe.box(y='Price_in_thousands', data_frame=df)

In [34]:
# dataframe & a series of data

# A series  : Can be used for a single
# column only
df[      'Manufacturer'   ]

0      Acura
1      Acura
2      Acura
3      Acura
4       Audi
       ...
152    Volvo
153    Volvo
154    Volvo
155    Volvo
156    Volvo
Name: Manufacturer, Length: 157, dtype: object

In [35]:
#dataframe

#dataframe type with list of columns can be 
# used for 2 or more columns at once
df  [       ['Manufacturer']                ] #a list of column names

    Manufacturer
0          Acura
1          Acura
2          Acura
3          Acura
4           Audi
..           ...
152        Volvo
153        Volvo
154        Volvo
155        Volvo
156        Volvo

[157 rows x 1 columns]

In [36]:
#### locating data 

df [      ['Manufacturer', 'Model', 'Latest_launch']        ]

    Manufacturer    Model Latest_launch
0          Acura  Integra    2012-02-02
1          Acura       TL    2011-06-03
2          Acura       CL    2012-01-04
3          Acura       RL    2011-03-10
4           Audi       A4    2011-10-08
..           ...      ...           ...
152        Volvo      V40    2011-09-21
153        Volvo      S70    2012-11-24
154        Volvo      V70    2011-06-25
155        Volvo      C70    2011-04-26
156        Volvo      S80    2011-11-14

[157 rows x 3 columns]

In [37]:
#extract rows by index
df.loc[       [0,10,11,17,90,100]        ]

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22.0,2011-09-28,83.483094
90,Mercury,Mountaineer,27.609,20.430,Car,27.560,4.0,210.0,111.6,70.2,190.1,3.876,21.0,18.0,2008-02-13,85.949744
100,Mercedes-B,M-Class,28.976,NaN,Car,35.300,3.2,215.0,111.0,72.2,180.6,4.387,19.0,20.0,2011-02-10,90.495532

In [38]:
df.loc[       [0,10,11,17,90,100] ,    ['Manufacturer', 'Model', 'Latest_launch']       ]

    Manufacturer        Model Latest_launch
0          Acura      Integra    2012-02-02
10         Buick      Century    2011-11-02
11         Buick        Regal    2011-09-03
17      Cadillac       Catera    2011-09-28
90       Mercury  Mountaineer    2008-02-13
100   Mercedes-B      M-Class    2011-02-10

In [40]:
# Maximum price observed in the dataset for a vehicle model

#chaining of column extract & max function

df [      'Price_in_thousands'        ].max()

85.5

In [43]:
df [      ['Price_in_thousands', 'Year_resale_value']        ].max()

Price_in_thousands    85.50
Year_resale_value     67.55
dtype: float64

# filtering : find row with maximum price value

# price value for current row should be the maximum price observed

In [47]:
condition=(  df['Price_in_thousands'] == df['Price_in_thousands'].max() )

df[    condition       ]

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
99,Mercedes-B,CL500,0.954,NaN,Passenger,85.5,5.0,302.0,113.6,73.1,196.6,4.115,23.2,20.0,2011-04-11,141.100985

In [55]:
condition=(     df['Price_in_thousands'] > 20     )

df.loc[ condition ,   ['Manufacturer', 'Model'] ]

    Manufacturer    Model
0          Acura  Integra
1          Acura       TL
3          Acura       RL
4           Audi       A4
5           Audi       A6
..           ...      ...
152        Volvo      V40
153        Volvo      S70
154        Volvo      V70
155        Volvo      C70
156        Volvo      S80

[100 rows x 2 columns]

# Use isin and pass a list of categories to filter for

In [53]:
condition=(     df['Manufacturer'].isin(  ['Audi','BMW','Volvo']   )    )

df [ condition  ]

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.00,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858
7,BMW,323i,19.747,NaN,Passenger,26.99,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.0,2011-06-28,71.191207
8,BMW,328i,9.231,28.675,Passenger,33.40,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.90,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724
151,Volvo,S40,16.957,NaN,Passenger,23.40,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2011-02-18,66.113057
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [ ]:
condition = (df['Price_in_thousands'].between(10,20)   )

df[condition]

# Find number of rows where sales unit value is over 10(thousand)


# Find name of brand that sold the least unit


# find the manufacturer and brand name for models that recorded at least 20(thousand) units sold

In [59]:
condition=(     df['Manufacturer'].isin(  ['Audi','BMW','Volvo']   )    ) & (df['Price_in_thousands'].between(10,50)   )

df[ condition ]

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105
7,BMW,323i,19.747,NaN,Passenger,26.99,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.0,2011-06-28,71.191207
8,BMW,328i,9.231,28.675,Passenger,33.40,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.90,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724
151,Volvo,S40,16.957,NaN,Passenger,23.40,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2011-02-18,66.113057
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655

In [60]:
# Aggregations

#average, sum, min,max


df ['Price_in_thousands'].max()

85.5

In [64]:
df [ ['Price_in_thousands','Year_resale_value']   ].max()

Price_in_thousands    85.50
Year_resale_value     67.55
dtype: float64

In [65]:
df [ ['Price_in_thousands','Year_resale_value']   ].agg(           ['min','max','sum']           )

     Price_in_thousands  Year_resale_value
min               9.235               5.16
max              85.500              67.55
sum            4245.567            2186.83

In [67]:
condition=(     df['Manufacturer'].isin(  ['Audi','BMW','Volvo']   )    ) & (df['Price_in_thousands'].between(10,50)   )

df[ condition ] [ ['Price_in_thousands','Year_resale_value']   ].agg(           ['min','max','sum']           )

     Price_in_thousands  Year_resale_value
min               23.40             22.255
max               45.50             36.125
sum              342.83            110.610

In [71]:
#create a list of brands
brands = ['Audi','BMW','Volvo']

#first condition for brands
condition1=(df['Manufacturer'].isin(brands) )

#second condition for price range
condition2=(df['Price_in_thousands'].between(10,50)   )

#create intermediate temp_df after applying both conditions
temp_df = df[  condition1 & condition2       ]

#list of columns to be aggregated
columns=['Price_in_thousands','Year_resale_value']

#apply aggregation min,max & sum
temp_df [  columns  ].agg( ['min','max','sum']  )

     Price_in_thousands  Year_resale_value
min               23.40             22.255
max               45.50             36.125
sum              342.83            110.610

In [ ]:
# Find the manufacturer Audi records from the dataset.
# Print the names of the models for which the sales units were between 10 and 50 for this Audi brand

In [ ]:
#1) Grouping can be performed by using a categorical data columns

#2) Grouping can be performed with one or more columns at a time

In [72]:
df['Manufacturer'].nunique()

30

# Average price of vehicles for each manufacturer

###1) USE GROUPBY with a list of columns
###2) Identify relevant columns for analysis
###3) Deciding aggregate operation to be performed

In [76]:
temp = df.groupby(    ['Manufacturer']        )

avg_df = temp [  ['Price_in_thousands']  ].mean()


avg_df.rename(  columns={'Price_in_thousands': 'Average Price'},inplace=True )

avg_df

              Average Price
Manufacturer
Acura             30.633333
Audi              39.980000
BMW               33.096667
Buick             26.781250
Cadillac          40.254000
Chevrolet         20.022778
Chrysler          23.430833
Dodge             24.213636
Ford              21.047273
Honda             20.277000
Hyundai           12.165667
Infiniti          29.465000
Jaguar            42.800000
Jeep              20.991667
Lexus             44.055000
Lincoln           41.690000
Mercedes-B        52.916667
Mercury           20.748333
Mitsubishi        22.167429
Nissan            22.360714
Oldsmobile        25.622833
Plymouth          22.642500
Pontiac           22.949167
Porsche           62.473333
Saab              29.610000
Saturn            14.271000
Subaru            21.395000
Toyota            21.982889
Volkswagen        17.698333
Volvo             30.933333

In [79]:
# Find out number of data points in each group (based on manufacturer)

temp.size()

Manufacturer
Acura          4
Audi           3
BMW            3
Buick          4
Cadillac       5
Chevrolet      9
Chrysler       7
Dodge         11
Ford          11
Honda          5
Hyundai        3
Infiniti       1
Jaguar         1
Jeep           3
Lexus          6
Lincoln        3
Mercedes-B     9
Mercury        6
Mitsubishi     7
Nissan         7
Oldsmobile     6
Plymouth       4
Pontiac        6
Porsche        3
Saab           2
Saturn         5
Subaru         2
Toyota         9
Volkswagen     6
Volvo          6
dtype: int64

In [78]:
temp1 = df.groupby(['Vehicle_type'])


total_sales_df = temp1[['Sales_in_thousands']].sum()

total_sales_df

              Sales_in_thousands
Vehicle_type
Car                     3305.514
Passenger               5015.184

In [81]:
# Find out number of data points in each group (based on vehicle_type)

temp1.size()

Vehicle_type
Car           41
Passenger    116
dtype: int64

# show first 2 samples from each group

In [83]:
temp1.head(2)

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
18,Cadillac,Escalade,14.785,NaN,Car,46.225,5.7,255.0,117.5,77.0,201.2,5.572,30.0,15.0,2012-04-17,109.509117
33,Chrysler,Town & Country,53.480,19.540,Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-13,NaN

In [84]:
temp1.head(5)

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
18,Cadillac,Escalade,14.785,NaN,Car,46.225,5.7,255.0,117.5,77.0,201.2,5.572,30.0,15.0,2012-04-17,109.509117
33,Chrysler,Town & Country,53.480,19.540,Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-13,NaN
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17.0,2012-03-06,90.211700
41,Dodge,Ram Wagon,16.767,15.510,Car,21.315,3.9,175.0,109.6,78.8,192.6,4.245,32.0,15.0,2012-01-06,71.135292
42,Dodge,Ram Van,31.038,13.425,Car,18.575,3.9,175.0,127.2,78.8,208.5,4.298,32.0,16.0,2012-07-26,70.078322

In [86]:
# Find min, max & sum of price for each category of vehicle type

temp1  [['Price_in_thousands']]   .agg(  ['min','max','sum']  )

             Price_in_thousands
                            min     max       sum
Vehicle_type
Car                      11.528  60.105  1052.799
Passenger                 9.235  85.500  3192.768

In [93]:
# I have 30 manufacturers & 2 categories of vehicle type

multiTemp = df.groupby(     ['Manufacturer','Vehicle_type']     )

In [95]:
ans_df = multiTemp[['Sales_in_thousands']].mean()

In [98]:
condition = (        ans_df['Sales_in_thousands'] > 50     )

ans_df[   condition       ]

                           Sales_in_thousands
Manufacturer Vehicle_type
Buick        Passenger              60.504750
Chevrolet    Passenger              61.596111
Chrysler     Car                    53.480000
Dodge        Car                   111.541833
Ford         Car                   263.816600
             Passenger             117.258667
Honda        Car                    54.029000
             Passenger             215.293500
Jeep         Car                    97.717667
Nissan       Passenger              70.196667
Pontiac      Passenger              66.192400
Toyota       Car                    50.511600
             Passenger             121.911750

In [99]:
ans_df.index

MultiIndex([(     'Acura', 'Passenger'),
            (      'Audi', 'Passenger'),
            (       'BMW', 'Passenger'),
            (     'Buick', 'Passenger'),
            (  'Cadillac',       'Car'),
            (  'Cadillac', 'Passenger'),
            ( 'Chevrolet', 'Passenger'),
            (  'Chrysler',       'Car'),
            (  'Chrysler', 'Passenger'),
            (     'Dodge',       'Car'),
            (     'Dodge', 'Passenger'),
            (      'Ford',       'Car'),
            (      'Ford', 'Passenger'),
            (     'Honda',       'Car'),
            (     'Honda', 'Passenger'),
            (   'Hyundai', 'Passenger'),
            (  'Infiniti', 'Passenger'),
            (    'Jaguar', 'Passenger'),
            (      'Jeep',       'Car'),
            (     'Lexus',       'Car'),
            (     'Lexus', 'Passenger'),
            (   'Lincoln',       'Car'),
            (   'Lincoln', 'Passenger'),
            ('Mercedes-B',       'Car'),
            ('Mercedes-B', 'Passenger'),
            (   'Mercury',       'Car'),
            (   'Mercury', 'Passenger'),
            ('Mitsubishi',       'Car'),
            ('Mitsubishi', 'Passenger'),
            (    'Nissan',       'Car'),
            (    'Nissan', 'Passenger'),
            ('Oldsmobile',       'Car'),
            ('Oldsmobile', 'Passenger'),
            (  'Plymouth',       'Car'),
            (  'Plymouth', 'Passenger'),
            (   'Pontiac',       'Car'),
            (   'Pontiac', 'Passenger'),
            (   'Porsche', 'Passenger'),
            (      'Saab', 'Passenger'),
            (    'Saturn', 'Passenger'),
            (    'Subaru',       'Car'),
            (    'Subaru', 'Passenger'),
            (    'Toyota',       'Car'),
            (    'Toyota', 'Passenger'),
            ('Volkswagen', 'Passenger'),
            (     'Volvo', 'Passenger')],
           names=['Manufacturer', 'Vehicle_type'])

# Pass a list of indices to the loc [   ]

In [103]:
# TO extract rows by index on a dataframe????

ans_df.loc[  [(      'Ford',       'Car')],  ]

                           Sales_in_thousands
Manufacturer Vehicle_type
Ford         Car                     263.8166

In [104]:
df.loc[      [0]      ]

,Manufacturer,Model,Sales_in_thousands,Year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_launch,Power_perf_factor
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,1.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.28015

In [ ]:
# Find the maximum price for each manufacturer brand

In [ ]:
# Find the minimum units sold for each group where grouping is based on 
# manufacturer & vehicle_type

In [ ]:
# Histogram??? : Represents frequency of occurence of something in the data

# Bar chart??? : Comparing numerical quantities for different categories

# Line chart??? : Trend in the data usually with refrence to time

# Scatter chart (Bubble chart) : Correlation between 2 quantities

# Box Plot (Box & Whiskers Plot): Data distribution & outliers in data

# Examples

In [ ]:
# Find out count of car and passenger type vehicles in the data

### Converting a series a dataframe!

In [110]:
ans = pd.DataFrame (    

    df.groupby(['Vehicle_type']).size(),

     columns=['Count']
    )

ans

              Count
Vehicle_type
Car              41
Passenger       116

In [112]:
pe.histogram(  x=ans.index, y='Count',  data_frame = ans   )

In [114]:
# Show relationship between Horsepower and fuel efficiency of vehicles

In [117]:
pe.scatter(x='Horsepower', y='Fuel_efficiency', color='Vehicle_type', data_frame=df, trendline='ols')

In [119]:
pe.scatter(
    x='Horsepower',
    y='Fuel_efficiency',
    facet_col='Vehicle_type',
    color='Vehicle_type',
    data_frame=df, trendline='ols')

In [120]:
pe.scatter(
    x='Horsepower',
    y='Fuel_efficiency',
    facet_row='Vehicle_type',
    color='Vehicle_type',
    data_frame=df, trendline='ols')

# Pandas
        ----> load data,
        -----> parse date & time
        -----> na_values list

        ---->extracting rows
        ---->extracting columns
        ----> extract rows & columns

        ---->filter
                    ---> isin
                    ---> between
        ---->aggregation
                    --->max,min,mean,sum
                    ---->agg(    [list of functions]  )

        ----->renaming of columns

        -----> grouping of data
                    ----> group by one column or multiple columns
                    -----> group, identify columns & aggregate
                    -----> size, samples using head

        

# Plotly_express

        -----> different types of graphs
        -----> scatter chart & bar chart