In [22]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/techficent/Python-DA-ML/main/data.csv",header=3)
df

     Names   Age   Salary
0  Harshit  28.0  40000.0
1    Manoj  31.0      NaN
2     Ajay  30.0      NaN
3    Rahul   NaN  40000.0
4    Saroj  32.0  45000.0
5    Sneha   NaN  55000.0
6   Akruti  26.0      NaN

In [13]:
df  [['Age']]   .describe()

             Age
count   5.000000
mean   29.400000
std     2.408319
min    26.000000
25%    28.000000
50%    30.000000
75%    31.000000
max    32.000000

In [14]:
import plotly_express as pe


pe.box (  y='Age',  data_frame= df  )

In [ ]:
# replace the missing values / fill the values

## To fill age missing values

# average of age can be used
# median of age can be used
# making age missing value zero

# Fill missing values in age array with average values

In [9]:
# ans = int(  df['Age'].mean() )

# df['Age']   =    df['Age'].fillna( ans  )

# df

# Fill missing values in age with median values [50th percentile]

In [11]:
# ans = int(  df['Age'].median() )

# df['Age']   =    df['Age'].fillna( ans  )

# df

     Names   Age   Salary
0  Harshit  28.0  40000.0
1    Manoj  31.0      NaN
2     Ajay  30.0      NaN
3    Rahul  30.0  40000.0
4    Saroj  32.0  45000.0
5    Sneha  30.0  55000.0
6   Akruti  26.0      NaN

In [18]:
# df['Age'] = df['Age'].fillna(  0  )

# df

# filling of missing values is subjective & very context-specific

In [23]:
# FIll age with mean value of age column and salary with 0 

df.fillna(   {  "Age" : int( df['Age'].mean() ),    "Salary" : 0   }, inplace=True   )



df

     Names   Age   Salary
0  Harshit  28.0  40000.0
1    Manoj  31.0      0.0
2     Ajay  30.0      0.0
3    Rahul  29.0  40000.0
4    Saroj  32.0  45000.0
5    Sneha  29.0  55000.0
6   Akruti  26.0      0.0

In [ ]:
# predict the price of a medicine based on a few factors like quantity, demand, taxes


10000 data points, out of which 5 rows have missing values ----> drop the rows with missing values


100 data points & 5 columns    and 12 rows with missing values
                    What algorithm am I going to next?

                    e.g: regression that is very sensitive to outlier
         ------>
         ------>

In [24]:
df = pd.read_csv("https://raw.githubusercontent.com/techficent/Python-DA-ML/main/timeseries_dummy.csv")

df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-07-18,18.567362,18.662239,18.500950,18.633776,12.477077,36651480.0
1,2011-07-19,18.643265,19.003796,18.614801,NaN,12.667668,36521627.0
2,2011-07-20,18.899431,18.975332,18.757116,18.880455,12.642256,37286409.0
3,2011-07-21,18.984819,19.165085,18.956356,NaN,12.769313,46844292.0
4,2011-07-22,19.060720,NaN,18.946869,19.041746,12.750255,27217020.0
5,2011-07-25,18.861481,NaN,18.795067,18.795067,12.585078,NaN
6,2011-07-26,18.833017,18.880455,18.567362,18.624289,12.470728,40813410.0
7,2011-07-27,18.529411,18.614801,18.273245,18.311195,12.261080,42527424.0
8,2011-07-28,NaN,18.614801,18.263758,18.368120,12.299200,62017992.0
9,2011-07-29,18.225805,NaN,18.074003,18.263758,12.229320,73232131.0
10,2011-08-01,18.444023,18.462997,17.789373,18.036053,12.076848,NaN
11,2011-08-02,17.979128,NaN,17.210627,17.210627,11.524149,109434290.0
12,2011-08-03,17.096773,17.239088,NaN,17.106262,11.581962,68569024.0
13,2011-08-04,16.869070,17.039848,16.451612,16.470589,11.151574,80391004.0

###  1) For a day of which I don't know opening price, I'll assume it to be average of all data records 

### 2) For a day of which I don't know opening price, I'll assume it is whatever the yesterday's opening was

In [28]:
df['Open'].fillna(method='ffill')

0     18.567362
1     18.643265
2     18.899431
3     18.984819
4     19.060720
5     18.861481
6     18.833017
7     18.529411
8     18.529411
9     18.225805
10    18.444023
11    17.979128
12    17.096773
13    16.869070
Name: Open, dtype: float64

In [27]:
df['Open']

0     18.567362
1     18.643265
2     18.899431
3     18.984819
4     19.060720
5     18.861481
6     18.833017
7     18.529411
8           NaN
9     18.225805
10    18.444023
11    17.979128
12    17.096773
13    16.869070
Name: Open, dtype: float64

# mean, median, zero, ffill and bfill

In [30]:
df ['Open'] = df['Open'].fillna(method='bfill')

df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-07-18,18.567362,18.662239,18.500950,18.633776,12.477077,36651480.0
1,2011-07-19,18.643265,19.003796,18.614801,NaN,12.667668,36521627.0
2,2011-07-20,18.899431,18.975332,18.757116,18.880455,12.642256,37286409.0
3,2011-07-21,18.984819,19.165085,18.956356,NaN,12.769313,46844292.0
4,2011-07-22,19.060720,NaN,18.946869,19.041746,12.750255,27217020.0
5,2011-07-25,18.861481,NaN,18.795067,18.795067,12.585078,NaN
6,2011-07-26,18.833017,18.880455,18.567362,18.624289,12.470728,40813410.0
7,2011-07-27,18.529411,18.614801,18.273245,18.311195,12.261080,42527424.0
8,2011-07-28,18.225805,18.614801,18.263758,18.368120,12.299200,62017992.0
9,2011-07-29,18.225805,NaN,18.074003,18.263758,12.229320,73232131.0
10,2011-08-01,18.444023,18.462997,17.789373,18.036053,12.076848,NaN
11,2011-08-02,17.979128,NaN,17.210627,17.210627,11.524149,109434290.0
12,2011-08-03,17.096773,17.239088,NaN,17.106262,11.581962,68569024.0
13,2011-08-04,16.869070,17.039848,16.451612,16.470589,11.151574,80391004.0

In [32]:
!pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (30.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.4/30.4 MB 2.2 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.0.0
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.0/307.0 KB 2.2 MB/s eta 0:00:00a 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.3.2 in /home/harshit/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: numpy>=1.17.3 in /home/harshit/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.22.3)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=58c3bd7ccb4528e2cacfa89b43e829e982b211b9247c370c09eb1828aab38b8c
  Stored in directory: /home/harshit/.cache/pip/wheels/9b/13/01/6f3a7fd641f90e1f6c8c7cded057f3394f451f340371c68f3d
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.1.1 sklearn-0.0 threadpoolctl-3.1.0

In [33]:
import sklearn as sk

# Revenue will remain consistent for a period of 6 months
# applied in july

June 15000

July -----> [ 20000  ]

August 200000


septemeber : 22000