# Features required for training can be  by using PCA

In [10]:
import pandas as pd

link = "https://raw.githubusercontent.com/techficent/Python-DA-ML/main/timeseries_dummy.csv" 

df = pd.read_csv( link,index_col='Date', parse_dates=['Date'] )

df

                 Open       High        Low      Close  Adj Close       Volume
Date
2011-07-18  18.567362  18.662239  18.500950  18.633776  12.477077   36651480.0
2011-07-19  18.643265  19.003796  18.614801        NaN  12.667668   36521627.0
2011-07-20  18.899431  18.975332  18.757116  18.880455  12.642256   37286409.0
2011-07-21  18.984819  19.165085  18.956356        NaN  12.769313   46844292.0
2011-07-22  19.060720        NaN  18.946869  19.041746  12.750255   27217020.0
2011-07-25  18.861481        NaN  18.795067  18.795067  12.585078          NaN
2011-07-26  18.833017  18.880455  18.567362  18.624289  12.470728   40813410.0
2011-07-27  18.529411  18.614801  18.273245  18.311195  12.261080   42527424.0
2011-07-28        NaN  18.614801  18.263758  18.368120  12.299200   62017992.0
2011-07-29  18.225805        NaN  18.074003  18.263758  12.229320   73232131.0
2011-08-01  18.444023  18.462997  17.789373  18.036053  12.076848          NaN
2011-08-02  17.979128        NaN  17.210627  17.210627  11.524149  109434290.0
2011-08-03  17.096773  17.239088        NaN  17.106262  11.581962   68569024.0
2011-08-04  16.869070  17.039848  16.451612  16.470589  11.151574   80391004.0

In [11]:
df.fillna(method='ffill', inplace=True)

df

                 Open       High        Low      Close  Adj Close       Volume
Date
2011-07-18  18.567362  18.662239  18.500950  18.633776  12.477077   36651480.0
2011-07-19  18.643265  19.003796  18.614801  18.633776  12.667668   36521627.0
2011-07-20  18.899431  18.975332  18.757116  18.880455  12.642256   37286409.0
2011-07-21  18.984819  19.165085  18.956356  18.880455  12.769313   46844292.0
2011-07-22  19.060720  19.165085  18.946869  19.041746  12.750255   27217020.0
2011-07-25  18.861481  19.165085  18.795067  18.795067  12.585078   27217020.0
2011-07-26  18.833017  18.880455  18.567362  18.624289  12.470728   40813410.0
2011-07-27  18.529411  18.614801  18.273245  18.311195  12.261080   42527424.0
2011-07-28  18.529411  18.614801  18.263758  18.368120  12.299200   62017992.0
2011-07-29  18.225805  18.614801  18.074003  18.263758  12.229320   73232131.0
2011-08-01  18.444023  18.462997  17.789373  18.036053  12.076848   73232131.0
2011-08-02  17.979128  18.462997  17.210627  17.210627  11.524149  109434290.0
2011-08-03  17.096773  17.239088  17.210627  17.106262  11.581962   68569024.0
2011-08-04  16.869070  17.039848  16.451612  16.470589  11.151574   80391004.0

In [12]:
feature = df[[      'Open', 'High', 'Low', 'Adj Close'      ]]

label = df[['Close']]

In [13]:
from sklearn.preprocessing    import StandardScaler

sc  =  StandardScaler() 
#fit the data available and then transform(scale) as per z scale formula
scaled_feature = sc.fit_transform(feature)

scaled_feature

array([[ 0.26847885,  0.13535062,  0.45240308,  0.4716013 ],
       [ 0.3864017 ,  0.67249062,  0.60910987,  0.86575444],
       [ 0.78438105,  0.62772751,  0.80499508,  0.81320097],
       [ 0.9170398 ,  0.92613723,  1.07923299,  1.07596215],
       [ 1.03495955,  0.92613723,  1.06617489,  1.03654911],
       [ 0.72542196,  0.92613723,  0.85723159,  0.69495358],
       [ 0.6812003 ,  0.47852187,  0.54381389,  0.45847121],
       [ 0.2095182 ,  0.06074858,  0.13898538,  0.02490709],
       [ 0.2095182 ,  0.06074858,  0.12592728,  0.10374144],
       [-0.26216391,  0.06074858, -0.13525528, -0.04077441],
       [ 0.07685945, -0.1779817 , -0.52702569, -0.35609527],
       [-0.64540115, -0.1779817 , -1.32362323, -1.49910857],
       [-2.01622737, -2.10272774, -1.32362323, -1.37954796],
       [-2.36998662, -2.41605691, -2.36834661, -2.26961508]])

In [14]:
from sklearn.decomposition import PCA

pca_model = PCA(   n_components=1  )

new_feature = pca_model.fit_transform(  scaled_feature  )

new_feature

array([[-0.66497306],
       [-1.26585492],
       [-1.5159441 ],
       [-1.99946891],
       [-2.03249079],
       [-1.60119399],
       [-1.08170574],
       [-0.21769078],
       [-0.25051966],
       [ 0.19006491],
       [ 0.49226312],
       [ 1.82681412],
       [ 3.40898919],
       [ 4.71171061]])

In [15]:
pca_model.explained_variance_ratio_

array([0.95987035])